<footer class="footer">
    <div class="container">
        <div class="footer__layout">
            <small class="footer__copy">© {{ "now"|date("Y") }} FinModelPro</small>
            <small class="footer__note">Подвал в разработке</small>
        </div>
    </div>
</footer>
