{% extends 'base.html.twig' %}

{% set title = page and page.title ? page.title : 'Финансовая модель под задачи вашего бизнеса' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-page">
        <section class="main">
            <div class="container">
                <div class="main__layout">
                    <div class="main__content">
                        <h1 id="main-title" class="main__title">{{ title }}</h1>
                        <div class="main__text">
                            {{ page.description|default(false)|raw }}
                        </div>
                    </div>

                    <div class="main__media">
                        <img
                            class="main__image"
                            src="{{ vich_uploader_asset(page, 'imageFile')|default(fallbackImage) }}"
                            alt=" "
                            fetchpriority="high"
                        >
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
