<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Проекты{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap(['base', 'project']) }}{% endblock %}
        {% endblock %}
    </head>
    <body class="front-projects-body">
        {% block body %}{% endblock %}
    </body>
</html>
