{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block body %}
    <h1>Hello</h1>
{% endblock %}
