{% extends 'project-base.htm.twig' %}

{% set projectView = projectView|default('list') %}

{% block title %}Проекты | {{ projectView == 'create' ? 'Добавление' : (projectView == 'edit' ? 'Редактирование' : 'Общая') }}{% endblock %}

{% block body %}
    <main class="front-projects">
        <section class="front-projects__section">
            <div class="container">
                {{ include('project/blocks/_project_content_frame.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
