{% extends 'base.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block body %}
<main class="project-page">
    <section class="project">
        <div class="container">
            <div class="project__card">
                <h1 class="project__title">Раздел проектов</h1>
                <p class="project__text">
                    Базовая страница готова. Следующим шагом сюда можно добавить список проектов и фильтрацию.
                </p>

                <ul class="project__meta">
                    <li>Контроллер: <code>{{ controller_name }}</code></li>
                    <li>Шаблон: <code>templates/project/index.html.twig</code></li>
                </ul>
            </div>
        </div>
    </section>
</main>

{% endblock %}
