<div class="projects-content__toolbar projects-content__toolbar--stacked">
    <div class="projects-content__headline">
        {% if selectedProject is defined and selectedProject %}
            <h2 class="projects-content__title">Модели проекта {{ selectedProject.title|default('Без названия') }}</h2>
        {% else %}
            <h2 class="projects-content__title">Выберите проект</h2>
        {% endif %}
    </div>
    <div class="projects-content__controls">
        <a class="projects-content__action" href="{{ path('app_project_create') }}" data-turbo-frame="project_content">
            Добавить проект
        </a>
        <a
            class="projects-content__inline-edit"
            href="{% if selectedProject is defined and selectedProject %}{{ path('app_project_edit', { shortId: selectedProject.shortId }) }}{% else %}#{% endif %}"
            data-turbo-frame="project_content"
            {% if selectedProject is not defined or not selectedProject %}aria-disabled="true"{% endif %}
        >
            <span class="projects-content__inline-edit-icon">✎</span>
            <span>Редактировать</span>
        </a>
    </div>
</div>
