<div class="projects-layout">
    {{ include('project/blocks/_project_sidebar.html.twig') }}

    <section class="projects-content">
        {{ include('project/blocks/_project_content_switch.html.twig') }}
    </section>
</div>
